@media (max-width: 992px) {
    #activities {
        margin: 40px 20px;
    }
    
    #activities-cards-container {
        flex-direction: column;
    }
    
    .activity-card {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .activity-card-title {
        display: block;
        width: fit-content;
    
        font-size: 18px;
    }

    .double-cards {
        justify-content: space-around;
        align-items: center;
    
        width: 100%;
    }
    .double-cards:first-of-type {
        margin-right: 0;
    }
    
    .double-cards .activity-card-title {
        font-size: 18px;
    }
    
    .double-activity-card {
        margin-bottom: 20px;
    }
    .double-activity-card:nth-child(1) {
        margin-bottom: 20px;
    }
}