footer {
    background: #f2f2f2;
    height: 250px;

    margin-top: 80px;
}

.footer-info-container {
    display: flex;

    margin: 0 80px;
}

.footer-info {
    margin-top: 15px;
    width: 33%;
} 

.footer-info ul {
    display: flex;
    flex-direction: column;
}

.footer-info li {
    margin-top: 15px;
    font-weight: 500;
}