@media (max-width: 992px) {
    #header-navbar {
        flex-direction: column;
    }

    #header-logo {
        display: none;
    }

    #header-logo-mobile {
        display: block;
        width: 150px;
    }

    nav ul {
        width: 100%;
        justify-content: space-between;
        font-size: 14px;
    }

    nav li {
        display: block;
        text-align: center;
        padding: 10px 0;
        width: 100%;

        border-bottom: 3px solid #f2f2f2;
        transition: .3s;
    }

    nav li:hover {
        border-bottom: 3px solid #0065fc;
        transition: .3s;
    }

    .nav-link {
        color: black;
        padding: 4px 40px;
        border: none;
        margin-right: 0;

        font-size: 16px;
    }
    .nav-link:hover {
        color: #0065fc;
        border: none;
    }

    header h2 {
        margin: 20px 20px;
    }

    header p {
        margin: 0 20px;
    }
}