@media (max-width: 768px) {
    #hosting-popular-section {
        flex-direction: column;

        width: 100%;
    }

    #hosting {
        width: 100%;

        background-color: #fff;
        border-radius: 0;
        order: 2;
    }

    #hosting h2 {
        margin: 0 40px 0 20px;
    }

    .hosting-card {
        width: 100%;
    }

    .hosting-card-img {
        height: 140px;
    }
}