@media (max-width: 992px) {
    #popular {
        width: 100%;
        border-radius: 0;
        margin: 40px 0;

        padding-bottom: 40px;
    }

    #popular-section-title {
        margin: 20px 40px 0 30px;
    }
}