#header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    margin-left: 20px;
    max-width: 150px;
    height: auto;
}

#header-logo-mobile {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    font-weight: 500;
    margin: 0;
}

nav li {
    display: block;
    margin-left: 40px;
}

.nav-link {
    display: block;
    color: black;
    border-top: #ffffff 3px solid;
    padding: 37px 40px;
    margin-right: -40px;

    transition: .3s;
}
.nav-link:hover {
    color: #0065fc;
    border-top: #0065fc 3px solid;
    transition: .3s;
}