#popular {
    width:40%;
    background-color: #f2f2f2;
    border-radius: 25px;
    margin-left: 40px;
}

#popular-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px 40px 15px;
}

.popular-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 0 20px;
}

.popular-card {
    display: flex;
    justify-content: space-between;

    width: 95%;

    background: #fff;
    border: 2px solid transparent;
    border-radius: 25px;

    box-shadow: 1px 1px 8px #e2e2e2;

    margin: 15px 0;
}
.popular-card article {
    display: flex;
}
.popular-card a {
    display: flex;
    width: 100% !important;
}

.popular-card-img {
    width: 140px;
    min-height: 145px;
    height: 170px;
    border-radius: 25px 0 0 25px;
    object-fit: cover;

    padding: 3px;

    aspect-ratio: 2/3;
}

.popular-card-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-left: 10px;

    position: relative;

    width: 100%;
}

.popular-card-title {
    margin-bottom: 0;
}
.popular-card-price {
    margin-top: 5px;
    font-size: 14px;
}

.popular-card-rating {
    color: #0668FC;
    margin-bottom: 10px;
    letter-spacing: -1.5px;

    position: absolute;
    bottom: 0;
}

@media (max-width: 768px) {
    #popular {
        width: 100%;
        border-radius: 0;
        margin: 40px 0;

        padding-bottom: 40px;
    }

    #popular-section-title {
        margin: 20px 40px 0 30px;
    }
}